
*{
  box-sizing: border-box;
  margin: 0;
  transition: all .2s;
  text-decoration: none!important;
  list-style: none!important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('../public/wp2248881.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* -------------------------------------------------------- */

.cards{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card{
  width: 250px;
  max-width: 250px;
  min-width: 250px;
  overflow: hidden;
  border: none;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.151);
  text-align: center;
  cursor: pointer;
  margin: 10px;
}

.card:hover{
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.236);
}

.card:hover .nombre{
  font-weight: bold;
}


.card p{
  margin: 0px;
}

.cont-img{
  width: 100%;
}

.cont-img p{
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.902);
  font-weight: bold;
  position: absolute;
  border-radius: 5px;
  
  margin-left: 4px;
  margin-top: 4px;
}

.cont-img img{
  width: 250px;
  height: 200px;
  object-fit: cover;
  /* object-position: 0px -50px; */
}

.card .categoria{
  color: rgb(60, 60, 60);
  font-size: 0.8rem;
  margin-top: 10px;
}

.card .nombre{
  color: rgb(255, 183, 0);
}

.card .precio{
  font-size: 0.8rem;
}

.card .descripcion{
  font-size: 0.8rem;
  color: rgb(33, 33, 33);
  margin: 10px 0px;
  margin-bottom: 15px;
}


.btn-eliminar{
  padding: 0;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.26);
  width: 26px;
  height: 26px;
  border-radius: 13px;
  position: absolute;
  top: 5px;
  right: 5px;
  font-weight: bold;
  background-color: white;
}

.btn-eliminar:hover{
  background-color: rgb(255, 102, 0);
  color: white;
}

/* ---------------------------------- */

.cont-portada img{
  width: 300px;
  object-fit: cover;
}

.nav-link:hover{
  color: rgb(246, 106, 13) !important;
}

.cont-input-img{
  display: flex;
  justify-content: space-between;
}

.cont-portada{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url('../public/wp2248881.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.borde{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.184);
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.053); 
  border-radius: 30px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.816);
}

.cont-portada .cont-info{
  text-align: center;
  width: 400px;
  margin: 40px;
}
.cont-portada .cont-info h2{
  font-size: 2rem;
  margin-bottom: 30px;  
}

.cont-portada .cont-lista{
  width: 400px;
  margin: 40px;
}

.cont-lista{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cont-lista a{
  text-decoration: none;
  list-style: none;
}

.cont-lista li{
  width: 200px;
  height: 40px;
  text-align: center;
  padding: 10px;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(246, 106, 13);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.124);
  background-color: white;
  font-weight: bold;
}

.cont-lista li:hover{
  background-color: rgb(246, 106, 13);
  color: white;
}

.cont-fondo{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.902);
  border-radius: 20px;
  padding: 20px 30px;
  padding-bottom: 40px;
}

.nav-item a{
  text-decoration: none;
}

.cont-edit{
  display: flex;
  width: 100%;
  justify-content: center;
}

.btn-editar{
  border: 1px solid rgba(0, 0, 0, 0.105);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.094);
  background-color: rgb(246, 106, 13);
  color: white;
  font-weight: bold;

  height: 30px;
  border-radius: 15px;
  width: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-bottom: 10px;
}

.btn-editar:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(246, 106, 13);
}

.btn-editar-pr{
  border: 1px solid rgba(0, 0, 0, 0.105);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.094);
  font-weight: bold;
  background-color: rgb(246, 106, 13);
  color: white;

  height: 40px;
  border-radius: 20px;
  width: 200px;
  margin-top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-bottom: 10px;
}

.btn-editar-pr:hover{
  background-color: rgb(241, 43, 17);
}

.navbar-toggler{
  background-color: white;
}

.navbar-collapse{
  flex-grow: 0;
}

/* ------------------------------------------------------------- */


@media (max-width: 768px) {
  .borde{
    flex-direction: column;
    padding: 15px;
  }

  .cont-portada .cont-info,
  .cont-portada .cont-lista{
    width: auto;
    margin: 0px;
    padding: 20px 10px;
  }

  .cont-portada .cont-lista{
    flex-direction: column-reverse;
    padding-top: 10px;
    padding-bottom: 0px;
  }

  

  .cards{
    justify-content: center;
  }

  .cont-input-img{
    flex-direction: column;
  }

  .cont-input-img img{
    margin-top: 10px;
  }

}

@media (max-width: 290px) {
  .borde{
    flex-direction: column;
    padding: 5px;
  }

  .cont-portada .cont-info,
  .cont-portada .cont-lista{
    width: auto;
    margin: 0px;
    padding: 20px 5px;
    font-size: 0.9rem;
  }

  .cont-portada .cont-info h2{
    font-size: 1.4rem;
  }

  .cont-portada .cont-lista img{
    width: 250px;
  }

  .container{
    padding: 0px;
  }

}